env
.idea
front_zontik/src/notes.txt
back_zontik/db.sqlite3
back_zontik/.idea
back_zontik/back_zontik/__pycache__
back_zontik/backend_api/__pycache__
back_zontik/backend_api/migrations/
back_zontik/users/__pycache__
back_zontik/users/__pycache__
back_zontik/users/migrations/
back_zontik/wallets/__pycache__
back_zontik/wallets/__pycache__
back_zontik/wallets/migrations/
back_zontik/static/
back_zontik/media/